.footer-container {
  max-width: 1300px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #242629;
  padding: 70px 0px 5px 0px;
  margin-top: 10rem;
}
.footer-col {
  width: 28%;
  padding: 0 30px;
}


.footer-col h4 {
  font-size: 18px;
  color: #ffffff;

  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: whitesmoke;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-link{
    margin-left: 3rem;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col p {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  padding-top: 5px;
  font-weight: 600;
  line-height: 2;
  word-spacing: 3px;
}
.footer-col ul li a {
  font-size: 13px;
  text-transform: capitalize;
  color: white;
  font-size: 14px;

  text-decoration: none;
  font-weight: 600;
  line-height: 2;
  margin-left: -40px;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgb(50, 50, 50);
  padding-left: 8px;
}
.footer-col .social-links a {
  margin-top: 1rem;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgba(249, 163, 163, 0.2);
  margin: 20px 10px 10px 1px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  color: black;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.gmap_canvas {
  width: 320px;
  height: 250px;
}
.mapouter {
  width: 320px;
  height: 250px;
}
.map {
  height: 250px;
  width: 330px;
}

.mapouter {
  position: relative;
  height: 300px;
  width: 300px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 350px;
}
.row-copyright {
  display: flex;
    justify-content: space-between;
    background-color: black;
}

.row-copyright .copyright {
  margin-bottom: 0rem;
  color: white;
  font-size: 12px;
  
  text-align: left;
  font-weight: bold;
}

.row-copyright .icons{
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding-right: 30px;
}

/*js slide while scrolling*/
.reveal {
  position: relative;
  transform: translateY((150px));
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY((0px));
  opacity: 1;
}

/*responsive*/
@media screen and (max-width: 600px) {
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
  #col-last {
    width: 100%;
    height: auto;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 320px;
    width: 320px;
  }

  .mapouter {
    position: relative;
    height: 249px;
    width: 350px;
  }
  .map {
    height: 200px;
    width: 320px;
  }
  .footer-col p {
    padding: 0px;
  }
  .row-copyright {
    margin-top: 0px;
  }
  .row-copyright .copyright {
    margin-top: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  /* .gmap_canvas {
		overflow: hidden;
		background: none!important;
		height: 350px;
		width: 250px;
  } */
}

@media screen and (max-width: 968px) {
  .footer-col .social-links a {
    margin: 20px 2.9px 3px 1px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 250px;
  }

  .mapouter {
    position: relative;
    height: 299px;
    width: 250px;
  }
}
/* extra for large*/
@media only screen and (min-width: 1200px) {
  .footer-col ul li a {
    line-height: 2;
  }
  .mapouter {
    position: relative;
    height: 300px;
    width: 400px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 400px;
  }
  .map {
    height: 220px;
    width: 330px;
  }
}